<ng-container *ngIf="user">
	<p-overlayPanel #profilePanel>
		<ng-template pTemplate="content">
			<div class="grid" style="width: 30rem">
				<div class="col">
					<p>
						Name:<br/>
						{{user.firstName}} {{user.lastName}}
					</p>
					<p>
						Privileges:<br/>
						{{user.privileges!.join(', ')}}
					</p>
					<p>
						Theme:<br/>
						<p-selectButton *ngIf="user" [options]="themeOptions"
						                [ngModel]="currentTheme()"
						                (ngModelChange)="currentTheme.set($event)"
						                (onOptionClick)="changeTheme(currentTheme())"/>
					</p>
				</div>
				<div class="col" style="text-align: center">
					<p>
						<img [src]="avatar" width="128px" height="128px" alt="Avatar"/><br/>
						<p-button styleClass="p-button-link" (click)="logoutEvent.emit()" label="Logout"/>
					</p>
				</div>
			</div>
		</ng-template>
	</p-overlayPanel>
	<img [src]="avatar"
	     style="margin: .5rem; width: 2rem; height: 2rem; border-radius: 50%"
	     alt="Avatar"
	     (click)="profilePanel.toggle($event)"
	/>
</ng-container>
